	<md-content id="content" layout="column" class="md-padding" ng-controller="AuthenticationController as ac">
		<div layout="column" ng-cloak>
			<md-card>
				<md-card-title>
					<md-card-title-text> <span class="md-headline">Login</span> </md-card-title-text>
				</md-card-title>
				<md-card-content>
					<form name="loginForm" ng-submit="ac.login()">
						<md-input-container class="md-block">
							<input type="email" placeholder="Email" required md-no-asterisk name="email" ng-model="ac.login.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/">
							<div ng-messages="loginForm.email.$error" role="alert">
								<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']"> Your email must be between 10 and 100 characters long and look like an e-mail address. </div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<input type="password" placeholder="Password" required md-no-asterisk name="password" ng-model="ac.login.password">
							<div ng-messages="loginForm.password.$error" role="alert">
								<div ng-message="required">This is required.</div>
							</div>
						</md-input-container>
						<md-card-actions layout="row" layout-align="end center">
							<md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-primary">LOGIN</md-button>
							<md-button type="button" class="md-raised md-accent" ng-click="ac.resetSignUpForm()">CANCEL</md-button>
						</md-card-actions>
					</form>
				</md-card-content>
			</md-card>
		</div>
	</md-content>
