<div id="signup-overlay" ng-cloak class="modal-dialog" ng-controller="AuthenticationController as ac">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Signup NOW!</h4> </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <div class="well">
            <form name="signupForm" id="signupForm" method="POST" ng-submit="ac.signup()">
              <div class="form-group">
                <label for="username" class="control-label">Username</label>
                <input class="form-control" id="username" name="username" placeholder="Your Name" type="text" ng-model="ac.username" /> </div>
              <div class="form-group">
                <label for="email" class="control-label">Email</label>
                <input class="form-control" id="email" name="email" placeholder="Your Email" type="email" ng-model="ac.email" /> </div>
              <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input class="form-control" id="password" name="password" placeholder="Password" type="password" ng-model="ac.password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"/> </div>
              <div class="form-group">
                <label for="password" id="reenterpassword" class="control-label">Re-enter Password</label>
                <input class="form-control" id="reenterpassword" name="reenterpassword" placeholder="Re-enter Password" type="password" ng-model="ac.password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"/> </div>
              <button type="submit" class="btn btn-primary btn-block btn-block">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
