.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

/*Toolbar Area*/
md-list-item .md-avatar-icon {
  border: 1px solid black !important;
  background-color: transparent!important;
}

/*
.md-button.md-fab {
  position: relative;
  margin-top: -15px;
}
*/

/*Sidenav Area*/
md-list-item > button {
  width:100%;
  text-align:left !important;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 10px;
}

p.secondary {
  font-size: 0.72em !important;
}

/*Content*/
.hiding-fab {
  margin-top: -18px;
}
.detail-tabs md-content {
  background-color: transparent !important;
}

.detail-tabs md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

.detail-tabs md-content md-tabs {
  background: white;
}

.detail-tabs md-content h1:first-child {
  margin-top: 0;
}

.main-image {
  width: 33%;
  margin: auto;
}

.prod-thumb {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  width: 128px;
  padding: 10px;
}
.prod-thumb li {
  list-style: none;
  padding: 10px;
}
.prod-thumb img {
  width: 100%;
}

.created_tag {
  padding-left: 12px;
}

.mini-action-button:hover {
  background-color: #EEEEEE !important;
}

.input-valid {
  background-image: url(/assets/images/valid.png);
  background-position: 98%;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.input-error {
  background-image: url(/assets/images/error.png);
  background-position: 98%;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.input-invalid {
  background-image: url(/assets/images/invalid.png);
  background-position: 98%;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

.valid-processing {
  background-image: url(/assets/images/processing.gif);
  background-position: 98%;
  background-size: 14px 14px;
  background-repeat: no-repeat;
}

#order-view {
  width: 90%;
  margin: 0 auto;
}

#order-view h1, h2 {
  text-align: center;
}

#order-table {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}
#order-table thead tr th {
  background-color: #3F51B5;
  color: white;
  border-collapse: collapse;
  padding: .8rem; font-size: 1.4rem;
  text-align: center;
}
#order-table tbody td {
  padding: 0.8rem;
  font-size:1.4rem;
  text-align: center;
}

#order-table tbody tr:not(:last-child) {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#order-table tbody tr td.title, #order-table tbody tr td.color{
  text-align: left;
}

#order-table tbody tr td.currency {
  text-align: right;
}


#order-table_info, #order-table_paginate {
  text-align: right;
}

#order-table_length {
  margin: 0px;
}

/*@media screen and (max-width: 769px) {*/

  /*#order-view {*/
    /*max-width: 512px;*/
  /*}*/

  /*#order-table thead {*/
    /*display: none;*/
  /*}*/

  /*#order-table tbody td {*/
    /*display: block;*/
    /*padding: 0.6rem;*/
  /*}*/

  /*#order-table tbody tr td:first-child {*/
    /*background: #3F51B5;*/
    /*color: white;*/
    /*display: block;*/
  /*}*/

  /*#order-table tbody tr{*/
    /*margin-bottom: 20px;*/
  /*}*/

  /*#order-table tbody tr td:first-child a {*/
    /*color: white;*/
  /*}*/

  /*#order-table tbody tr {*/
    /*position: relative;*/
    /*box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);*/
  /*}*/

  /*#order-table tbody td:before {*/
    /*content: attr(data-title);*/
    /*font-weight: bold;*/
    /*display: inline-block;*/
    /*width: 33%;*/
  /*}*/



