<div id="order-view" class="container" ng-controller="OrderController as oc" ng-cloak>
  <h1>My Orders</h1>
  <h2>xxxxxx you may click the button here to refresh the status of the order</h2>
  <table datatable="ng" id="order-table" class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Created</th>
      <th>Order Title</th>
      <th>Order Status</th>
      <th>Payment Link</th>
      <th>Color</th>
      <th>Size</th>
      <th>Width</th>
      <th>Quantity</th>
      <th>CNY PRICE</th>
      <th>Detail</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(index, item) in oc.orderItems">
      <td data-title="Created">{{ item.createTime.slice(0,10) }}</td>
      <td data-title="Order Title" class="title"><a href="{{item.url}}" target="_blank">{{ item.title }}</a></td>
      <td data-title="Order Status"></td>
      <td data-title="Payment Link"> <a target="_blank" href="{{ item.weidianProductUrl }}"> Weidian </a></td>
      <td data-title="Color" class="color"> {{ item.orderedSku.color }}</td>
      <td data-title="Size">{{ item.orderedSku.size }}</td>
      <td data-title="Width">{{ item.orderedSku.width }}</td>
      <td data-title="Quantity">{{ item.quantity }}</td>
      <td data-title="CNY PRICE" class="currency">{{ item.orderedSku.cny_price }}</td>
      <td data-title="Detail">Detail</td>
    </tr>
    </tbody>
  </table>
</div>






<!--original css table html-->
<!--<table id="order-table" class="table table-striped table-responsive">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Order Title</th>-->
<!--<th>Order Status</th>-->
<!--<th>Weidian Product Link</th>-->
<!--<th>Color</th>-->
<!--<th>Size</th>-->
<!--<th>Width</th>-->
<!--<th>Quantity</th>-->
<!--<th>CNY PRICE</th>-->
<!--<th>Detail</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr ng-repeat="(index, item) in oc.orderItems">-->
<!--<td data-title="Order Title"><a href="{{item.url}}" target="_blank">{{ item.title }}</a></td>-->
<!--<td data-title="Order Status"></td>-->
<!--<td data-title="Weidian Link"> <a target="_blank" href="{{ item.weidianProductUrl }}"> Weidian Link </a></td>-->
<!--<td data-title="Color"> {{ item.orderedSku.color }}</td>-->
<!--<td data-title="Size">{{ item.orderedSku.size }}</td>-->
<!--<td data-title="Width">{{ item.orderedSku.width }}</td>-->
<!--<td data-title="Quantity">{{ item.quantity }}</td>-->
<!--<td data-title="CNY PRICE">{{ item.orderedSku.cny_price }}</td>-->
<!--<td data-title="Detail">Detail</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
